---
import { readFile } from 'fs/promises';
import classes from './HomeSection.module.css';
import Social from '@components/Social/Social.astro';
import { image_placeholder } from '@rodneylab/picpack';
import { Picture } from 'astro:assets';

const { buffer } = await readFile(`src/assets/images/home/portrait.jpg`);
const imageBytes = new Uint8Array(buffer);
const { base64: placeholder } = image_placeholder(imageBytes);
import portrait from 'src/assets/images/home/portrait.jpg';
---

<section class="wrapper-outer">
  <div class:list={[classes.columns, 'wrapper-inner']}>
    <div class={classes.content}>
      <div>
        <h1 class:list={[classes.title, 'heading-1']}>Hello, I&apos;m <span>Sergejs</span></h1>
        <p class={classes.desc}>
          Welcome to my portfolio! I&apos;m a passionate, creative and problem solving Frontend Web
          Developer. I create modern, clean, mobile first, responsive, functional and beautiful
          interfaces using various tools and technologies.
        </p>
      </div>
      <div class={classes.socials}>
        <Social link="https://github.com/Sergio0831" ariaLabel="GitHub Profile" iconName="github" />
        <Social
          link="https://www.linkedin.com/in/ivcenko/"
          ariaLabel="LinkdeIn Profile"
          iconName="linkedin"
        />
      </div>
      <a
        href="/Sergejs_Ivcenko_CV.pdf"
        class:list={[classes.btn, 'btn-primary btn-primary--large']}
        download>
        Download CV
      </a>
    </div>
    {/* Home image start */}
    <div class="image-wrapper"></div>
    <img
      class="placeholder"
      aria-hidden="true"
      src={placeholder}
      width={portrait.width}
      height={portrait.height}
    />
    <Picture
      src={portrait}
      alt="Sergejs Ivcenko sitting beside monitor"
      formats={['avif', 'webp']}
      widths={[400, 460, 760, 900]}
      pictureAttributes={{ class: 'lazy' }}
      quality={75}
      sizes={'(min-width: 960px) 460px, (min-width: 820px) 900px, (min-width: 460px) 760px, 400px'}
      class:list={[classes.portrait]}
      fallbackFormat={portrait.format}
      loading="eager"
      fetchpriority="high"
    />
  </div>
  {/* Home image end */}
</section>

<style>
  /*.parent {
    position: relative;
    padding-top: 100%;
  }
  img.lazy {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  */
  .image-wrapper {
    display: grid;

    .placeholder {
      height: 100%;
      border-radius: var(--rounded-md);
    }

    .placeholder,
    .lazy {
      grid-area: 1/1/1/1;
      aspect-ratio: 1/1;
    }
  }
</style>

<script>
  //import LazyLoad from 'vanilla-lazyload';

  //new LazyLoad();
</script>
