---
import { Picture } from 'astro:assets';
import classes from './AboutMeSection.module.css';
import myImage from 'src/assets/images/about-me/developer.webp';
import { aboutMe } from '@data/about-me';
import PageHeading from '@components/PageHeading/PageHeading.astro';

const { aboutMeInfo } = aboutMe;
---

<section class={classes.about}>
  <PageHeading title="About Me" />
  <div class={classes.about__columns}>
    <div class={classes.about__info}>
      {aboutMeInfo.map((info) => <p>{info}</p>)}
    </div>
    {/* About Me image start */}
    <Picture
      src={myImage}
      alt="Sergejs Ivcenko sitting beside monitor"
      formats={['avif', 'webp']}
      widths={[420, 460, 820, 960]}
      quality={75}
      sizes={'(min-width: 960px) 460px, (min-width: 820px) 960px, (min-width: 460px) 820px, 420px'}
      class={classes.about__image}
      loading="eager"
      fetchpriority="high"
    />
    {/* About Me image end */}
  </div>
</section>
@data/about-me
