---
import '../styles/global.css';
import Header from '@components/Header/Header.astro';
import ThemeBtn from '@components/ThemeBtn/ThemeBtn.astro';
import Footer from '@components/Footer/Footer.astro';
import CustomCursor from '@components/CustomCursor/CustomCursor.astro';
import AstroFont from '@components/AstroFont/AstroFont.astro';

interface Props {
  pageTitle: string;
  pageDescription: string;
}

const { pageTitle, pageDescription } = Astro.props;

// Extract the cookies from the request headers
const cookies = Astro.request.headers.get('cookies');
// Extract the theme value from cookies, if it exists
const theme = cookies?.split('theme=')[1].split(';')[0];

---

<html lang="en" data-theme={theme}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={pageDescription} />
    <meta name="generator" content={Astro.generator} />
    <AstroFont />
    <title>{pageTitle}</title>
    {!theme && (
      // This script will be run on page load, check current theme based on the system theme, and set current theme to the cookies
			<script is:inline>
				if (!document.documentElement.dataset.theme) {
					const theme =
						document.cookie?.split('theme=')[1]?.split(';')[0] ??
						(window.matchMedia('(prefers-color-scheme: dark)')?.matches
							? 'dark'
							: 'light');
					document.cookie = `theme=${theme}`;
					document.documentElement.dataset.theme = theme;
				}
			</script>
		)}
  </head>
  <body>
    <CustomCursor />
    <div class="wrapper-grid">
      <Header />
      <slot />
      <ThemeBtn />
      <Footer />
    </div>
  </body>
</html>
